html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
	padding-top: 80px;
}
:root {
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--accent-text-color: #2196f3;
	--white-text-color: #ffffff;
	--button-bcg-color: #2196f3;
	--secondary-bcg-color: #f5f4fa;
	--icon-color: #afb1b8;
}

.list {
	padding: 0;
	margin: 0;
	list-style: none;
}
a[href] {
	text-decoration: none;
}
a[href]:hover,
a[href]:focus {
	color: var(--accent-text-color);
	outline: none;
}
img {
	display: block;
}
.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
/* Containers */
.container {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
}
.section {
	padding-top: 94px;
}
.section-title {
	margin-top: 0;
	margin-bottom: 50px;
	color: var(--primary-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}
/* Модальное меню */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
	z-index: 2;
}
.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}
.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(1.2);
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	padding: 40px;
	min-width: 528px;
	min-height: 581px;
	background-color: var(--white-text-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}
.modal-close {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: var(--white-text-color);
	fill: currentColor;
	border: 1px solid rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.modal-close-button {
	position: absolute;
	top: 8px;
	right: 8px;
	fill: currentColor;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .modal-close-button,
.modal-close:focus .modal-close-button {
	fill: var(--accent-text-color);
}
.modal-close:focus {
	outline: none;
}
.form > h2 {
	margin-top: 0px;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.03em;
	color: inherit;
}
.form {
	width: 448px;
	height: 501px;
	margin: 0;
}
.form-field {
	display: block;
	position: relative;
	margin-top: 0px;
	margin-top: 28px;
}
.modal-input {
	display: block;
	width: 100%;
	height: 40px;
	padding-left: 42px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label {
	position: absolute;
	top: -4px;
	left: 0;
	transform: translateY(-100%);
	font-weight: inherit;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.01em;
	color: var(--secondary-text-color);
}
.modal-icon {
	position: absolute;
	top: 50%;
	left: 14px;
	transform: translateY(-50%);
	display: inline-block;
	fill: var(--primary-text-color);
}
.modal-input:focus ~ .modal-icon,
.modal-input:focus {
	fill: var(--accent-text-color);
	border-color: var(--accent-text-color);
	overflow: visible;
	outline: none;
}
.form-field > textarea {
	height: 120px;
	resize: none;
	padding: 12px 16px;
}
.form-field > textarea::placeholder {
	font-weight: inherit;
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}
.checkbox {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-field {
	display: flex;
	align-items: center;
	margin-top: 0;
	margin-top: 20px;
}
.icon-checkbox {
	display: inline-block;
	width: 16px;
	height: 15px;
	margin-left: 12px;
	margin-right: 8px;
	border: 2px solid var(--primary-text-color);
	border-radius: 2px;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
	background-size: contain;
	background-origin: border-box;
	fill: transparent;
}

.checkbox:checked + .icon-checkbox {
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
	border: none;
	background-color: var(--accent-text-color);
	fill: white;
}
.checkbox-label {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: #757575;
}
.checkbox-label.underlined {
	color: var(--accent-text-color);
	text-decoration: underline;
}

.modal .banner-button {
	position: absolute;
	left: 164px;
	bottom: 40px;
}
/* Логотипы и кнопки */
.button {
	color: var(--white-text-color);
	background-color: var(--button-bcg-color);
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.9;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	display: inline-block;
	border: 1px solid transparent;
	min-width: 200px;
	height: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	outline: none;
	cursor: pointer;
}
.button:focus {
	outline: none;
}
.logo {
	color: #000000;
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
}
.logo.padding {
	padding-top: 24px;
	padding-bottom: 25px;
}
.logo-accent {
	color: var(--accent-text-color);
}
.logo-accent-footer {
	color: var(--white-text-color);
}
/* Шапка */
.page-header {
	position: fixed;
	width: 100%;
	min-height: 80px;
	top: 0;
	left: 0;
	background-color: #fff;
	border-bottom: 1px solid #ececec;
	z-index: 1;
}

.head-container {
	display: inline-flex;
	align-items: center;
}
.head-navi {
	display: flex;
}

.page {
	display: flex;
	margin-left: 85px;
}

.page-item {
	margin-right: 50px;
}

.page-item :hover,
.page-item :focus {
	color: var(--accent-text-color);
}
.page-item:last-child {
	margin: 0;
}

.page .link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	font-family: Roboto, sans-serif;
	color: var(--primary-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link.current {
	color: var(--accent-text-color);
	position: relative;
}
.link.current::after {
	content: " ";
	position: absolute;
	left: 0;
	bottom: -1px;
	display: block;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--accent-text-color);
}

.head-contacts {
	display: flex;
	color: var(--primary-text-color);
}
.head-links {
	display: flex;
}
.envelope-icon {
	background-size: 15px 10px;
	margin-right: 10px;
}
.phone-icon {
	margin-right: 10px;
}

.contacts-item:not(:last-child) {
	margin-right: 30px;
}

.contacts-item .link {
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-item .link:hover,
.contacts-item .link:focus {
	fill: var(--accent-text-color);
	color: var(--accent-text-color);
	background-color: #fff;
}

.head-contacts {
	margin-left: 305px;
}
.head-contacts .link {
	display: flex;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;
	color: var(--secondary-text-color);
	fill: currentColor;
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head-contacts .link:hover,
.head-contacts .link:focus {
	color: var(--accent-text-color);
}
/* Main */
/* Баннер */
.banner {
	text-align: center;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner.jpg);
	background-size: cover;
	background-position: center;
	height: 600px;
	max-width: 1600px;
	padding-top: 200px;
	padding-bottom: 200px;
	margin-left: auto;
	margin-right: auto;
}
.banner-title {
	margin-top: 0;
	margin-bottom: 0;
	color: var(--white-text-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.banner-button {
	margin-top: 30px;
	font-weight: bold;
}

/* Преимущества */
.benefits-list {
	display: flex;
	margin-top: 0px;
	margin-bottom: 0px;
}
.benefits-item {
	width: 270px;
	width: calc((100% - 90px) / 4);
}
.benefits-bg {
	width: 270px;
	height: 120px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: var(--secondary-bcg-color);
}
.benefits-icon {
	fill: black;
}
.benefits-item + .benefits-item {
	margin-left: 30px;
}

.benefits-list .header {
	margin-top: 30px;
	margin-bottom: 10px;
	color: var(--primary-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

.benefits-list .text {
	margin-top: 0;
	margin-bottom: 0;
	color: var(--secondary-text-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
}
/* Чем занимаемся */
.duties .container {
	padding-bottom: 94px;
}
.duties-list {
	display: flex;
	margin-top: 30px;
}
.duties-item + .duties-item {
	margin-left: 30px;
	width: 370px;
}
.duties-item {
	position: relative;
}
.duties-text {
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.1;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--white-text-color);
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
	padding: 27px 82px 27px 83px;
	margin: 0px;
}
/* Команда */

.team {
	background-color: var(--secondary-bcg-color);
}
.team.section {
	padding-bottom: 94px;
}
.team-list {
	display: flex;
}

.team-member {
	width: 270px;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
	border-radius: 0px 0px 4px 4px;
	background-color: var(--white-text-color);
}

.team-member + .team-member {
	margin-left: 30px;
}

.team-list .header {
	margin-top: 30px;
	margin-bottom: 10px;
	color: var(--primary-text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}

.team-list .text {
	margin: 0;
	color: var(--secondary-text-color);
	font-weight: normal;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}
.team-networks {
	display: flex;
	justify-content: center;
	align-items: center;
}
.team-networks-item:not(:last-child) {
	margin-right: 10px;
}
.team-networks-item .link {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 16px;
	height: 44px;
	width: 44px;
	background-color: var(--white-text-color);
	border-radius: 50%;
	background-position: center;
	fill: var(--icon-color);
	margin-bottom: 24px;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-networks-item .link:hover,
.team-networks-item .link:focus {
	background-color: var(--accent-text-color);
	fill: var(--white-text-color);
}
/* Клиенты */
.clients-list {
	display: flex;
}
.clients {
	padding-bottom: 94px;
}
.clients-item:not(:last-child) {
	margin-right: 30px;
}
.clients-item .link {
	height: 90px;
	width: 170px;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	fill: var(--icon-color);
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item .link:hover,
.clients-item .link:focus {
	border: 1px solid #2196f3;
	fill: var(--accent-text-color);
}

/* Портфолио */
.portfolio-container {
	padding-top: 94px;
	padding-bottom: 94px;
	margin-left: auto;
	margin-right: auto;
}
.projects.section {
	padding-top: 50px;
}
.filter {
	display: flex;
	justify-content: center;
}

.filter-item {
	margin-right: 8px;
}

.filter-item:last-child {
	margin: 0;
}
.filter .button {
	color: var(--primary-text-color);
	background-color: var(--secondary-bcg-color);
	min-width: 73px;
	height: 38px;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.03em;
	line-height: 1.6;
	box-shadow: none;
	border-radius: 4px;
	padding: 6px 22px;
	text-align: center;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter .button:hover,
.filter .button:focus {
	color: var(--secondary-bcg-color);
	background-color: var(--accent-text-color);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.cards-list {
	display: flex;
	flex-wrap: wrap;
}

.cards-list .link {
	text-decoration: none;
}

.cards {
	width: 370px;
	margin-right: 30px;
	margin-bottom: 30px;
	transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}
.cards:hover,
.cards:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards:nth-child(3n) {
	margin-right: 0px;
}

.cards:nth-last-child(-n + 3) {
	margin-bottom: 0px;
}
.cards-thumb {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: transparent;
}
.cards-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(33, 150, 243, 0.9);
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transform: translateY(100%);
}
.cards:hover .cards-overlay {
	transform: translate(0);
	opacity: 1;
}
.thumb-text {
	position: absolute;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 322px;
	margin: auto;
	font-family: inherit;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	letter-spacing: 0.03em;
	color: var(--white-text-color);
}

.cards:hover .thumb-text,
.cards:focus .thumb-text {
	opacity: 1;
}
.cards .header {
	margin-top: 0px;
	margin-bottom: 4px;
	color: var(--primary-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.cards-text {
	border: 1px solid #eeeeee;
	border-top: none;
	padding: 20px 24px;
}
.cards .text {
	margin: 0px;
	color: var(--secondary-text-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.88;
}
/* Футер */
.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #2f303a;
}

.footer-container {
	display: flex;
	justify-content: space-between;
}

.footer-navi {
	margin-right: 70px;
	width: 270px;
}

.address {
	margin-top: 20px;
	margin-bottom: 9px;
	color: var(--white-text-color);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
}
.address-list {
	margin-top: 20px;
}
.address-list > span:not(:last-child) {
	margin-bottom: 9px;
}
.address-text {
	color: rgba(255, 255, 255, 0.6);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
}

.footer-title {
	color: var(--white-text-color);
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}
.networks {
	width: 270px;
	margin-top: 12px;
}
.networks-list {
	display: flex;
}
.networks-item .link {
	margin-top: 20px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	background-color: rgba(255, 255, 255, 0.1);
	background-position: center;
	border-radius: 50%;
	cursor: pointer;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-item .link:hover,
.networks-item .link:focus {
	background-color: var(--accent-text-color);
}
.footer-icon {
	fill: var(--white-text-color);
}
.networks-item:not(:last-child) {
	margin-right: 10px;
}
/* Модальное окно футтера */
.footer-email {
	margin-top: 12px;
	margin-right: 0px;
	margin-left: 0px;
	width: 570px;
}
.email-item {
	display: flex;
	justify-content: space-between;
}
.footer-input {
	display: block;
	width: 358px;
	height: 50px;
	padding-top: 15px;
	padding-left: 16px;
	padding-bottom: 15px;
	margin: 0;
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	align-items: center;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	background: #2f303a;
}
.email-list {
	display: flex;
	align-items: flex-start;
	margin-top: 20px;
}
.email-item .button {
	margin-left: 12px;
	width: 200px;
	height: 50px;
	fill: var(--white-text-color);
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	align-items: center;
}
.footer-button-link {
	text-decoration: none;
	color: var(--white-text-color);
	font-weight: bold;
	text-align: center;
	line-height: 1.9;
	letter-spacing: 0.06em;
}
.button .footer-button-link:hover {
	color: white;
}
.twitter-button {
	margin-left: 10px;
	vertical-align: middle;
}
